html,
button,
select {
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
}

button,
select {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 600;
    color: rgba (0 0 0 0.8);
    transition: all .2s ease-in-out;
}

select#nav-menu:hover {
    transform: scale(1.02);
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.3);
}

button {
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.02);
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: inline-block;
    width: 100%;
    box-sizing: inherit;
    top: 0;
    left: 0;
    right: 0;
    padding: 4rem 0px 3rem;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: #fff200;
}

#header-template {
    min-height: 11rem;
}

#logo {
    display: inline-block;
    margin-left: 10%;
}

a.logo-link,
a.logo-link:visited,
a.logo-link:hover {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
}

.big-emoji {
    font-size: 3rem;
}

a.big-emoji {
    text-decoration: none;
}

nav {
    display: block;
    float: right;
    margin-right: 10%;
}

a.logo-typography:hover {
    text-decoration: solid wavy 1px #6236ff;
}

select#nav-menu {
    writing-mode: horizontal-tb !important;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    display: block;
    position: absolute;
    top: 1rem;
    right: 0px;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
    margin: 0 10% 0 0;
    padding: 0.45rem 0.2rem 0.4rem 0.75rem;
    border-radius: .5rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: initial;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 6rem;
}

#content {
    display: inline-block;
}

p {
    font-family: 'charter', 'Georgia', 'Cambria', 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    initial-letter: 0rem;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0;
    line-height: 2rem;
    margin: 0 10%;
    padding-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: -0.1rem;
    line-height: 2.5rem;
    margin: 3rem 10%;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: -0.05rem;
    line-height: 2rem;
    margin: 1rem 10%;
    background-color: #fff200;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: -0.05rem;
    line-height: 1.5rem;
    margin: 1rem 10%;
    background-color: #fff200;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0;
    line-height: 1rem;
    margin: 2rem 10% 1.5rem;
    display: inline-block;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0;
    line-height: 1rem;
    margin: 1rem 10% 3rem;
}

h6 {
    font-size: 0.85rem;
    font-weight: 500;
    color: #4d25e0;
    letter-spacing: 0;
    line-height: 1.2rem;
    margin: 2rem 10%;
    padding: 0 1.1rem;
}

.back {
    margin: 1rem 10% -2rem;
}

.tldr-label {
    font-size: 0.75rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.65);
    letter-spacing: 0.1rem;
    line-height: 1rem;
    margin: 2rem 10% 0;
}

ul {
    padding: 0 0 0 2rem;
    margin: 1rem 10% 2rem;
}

li {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0;
    line-height: 1.5rem;
    font-family: 'charter', 'Georgia', 'Cambria', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    initial-letter: 0rem;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0 10% 0 -0.5rem;
    padding-bottom: 1rem;
}

li::marker {
    color: #666;
}

abbr {
    text-decoration-color: #fff200;
}

a,
a:visited {
    text-decoration: underline #fff200;
    position: relative;
    color: #6236ff;
}

a:hover {
    color: #4d25e0;
    text-decoration: underline #4d25e0;
}

#clear-header {
    margin-top: 100px;
}

.twitter-tweet-rendered {
    width: 80% !important;
    margin: 0 10% 2rem !important;
}

.tile {
    width: 50%;
    background: #fff200;
    float: left;
    margin: 1rem 0;
    font-size: 1rem;
    text-transform: uppercase;
}

.tile2 {
    background: #eee;
}

.tile-text {
    color: rgba(0, 0, 0, 0.75);
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 6rem;
}

.pic-tile {
    margin: 0;
}

.big-picture-inline {
    margin: 0 0 2rem !important;
}

.pic-inline {
    width: 80%;
    margin: 0 10%;
}

.linkout-icon {
    transform: rotate(90deg);
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    display: inline-block;
}

button.big-button {
    color: #fff;
    background-color: #6236ff;
    padding: 1rem 4rem;
    margin: 1rem 10%;
    border: none;
    border-radius: .25rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    width: -webkit-fill-available;
    cursor: pointer;
}

button.big-button:hover {
    background-color: #4d25e0;
}

button.big-button:active {
    background-color: #3617a8;
}

.center {
    width: 100%;
    text-align: center;
    display: block;
}

.big-picture {
    width: 100%;
    margin: 0;
    padding: 0;
}

hr {
    margin: 4rem 20%;
    border-width: thin;
    border-bottom: none;
}

.footer-center {
    display: block;
    text-align: center;
    margin: 3rem 0;
    font-size: .75rem;
    color: #555;
    clear: both;
}

.footer-social {
    width: 2rem;
    padding: 0 .25rem;
    margin: 2rem 0 0;
}

.footer-social {
    transition: all .2s ease-in-out;
}

.footer-social:hover {
    transform: scale(1.1);
}

a.no-style {
    text-decoration: none;
}

button.scroll-to-top {
    color: #3617a8;
    background-color: transparent;
    padding: 1rem 4rem;
    margin: 0 10% 1rem;
    font-weight: 600;
    border-radius: .25rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .1);
    width: -webkit-fill-available;
    cursor: pointer;
}


/* make it bigger for desktop */

@media screen and (min-width:768px) {
    html {
        font-size: 1rem;
        background-color: #fef;
    }
    h1 {
        font-size: 5rem;
        line-height: 5rem;
    }
    .logo-link {
        font-size: 3rem;
        color: rgba(0, 0, 0, 0.85);
        letter-spacing: -0.1rem;
        line-height: 4rem;
    }
    .big-emoji {
        font-size: 4rem;
    }
}