    html,
    button,
    select {
        font-size: 16px;
        font-family: 'Inter', Arial, sans-serif;
    }
    
    button,
    select {
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-weight: 600;
        color: rgba (0 0 0 0.8);
        transition: all .2s ease-in-out;
    }
    
    select#nav-menu:hover {
        transform: scale(1.02);
        cursor: pointer;
        border-color: rgba(0, 0, 0, 0.3);
    }
    
    button {
        transition: all .2s ease-in-out;
    }
    
    button:hover {
        transform: scale(1.02);
    }
    
    body {
        margin: 0;
        padding: 0;
    }
    
    header {
        display: inline-block;
        width: 100%;
        box-sizing: inherit;
        top: 0;
        left: 0;
        right: 0;
        padding: 4rem 0px 3rem;
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        background-color: #fff200;
        min-height: 5.2rem;
    }
    
    #header-template {
        min-height: 13rem;
    }
    
    #project-logo {
        filter: none;
    }
    
    .project-logo-grayscaler {
        filter: grayscale(100%);
        background: none !important;
    }
    
    .project-logo:hover {
        filter: none;
    }
    
    .inverter {
        filter: invert(1);
        background: inherit;
    }
    
    #logo {
        display: inline-block;
        margin-left: 10%;
    }
    
    .site-logo {
        width: 80%;
        margin: 0 10%;
    }
    
    a.logo-link,
    a.logo-link:visited,
    a.logo-link:hover {
        color: rgba(0, 0, 0, 0.85);
        text-decoration: none;
    }
    
    .big-emoji {
        font-size: 3rem;
    }
    
    a.big-emoji {
        text-decoration: none;
    }
    
    nav {
        display: block;
        float: right;
        margin-right: 10%;
    }
    
    a.logo-typography:hover {
        text-decoration: solid wavy 1px #6236ff;
    }
    
    select#nav-menu {
        writing-mode: horizontal-tb !important;
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        display: block;
        position: absolute;
        top: 1rem;
        right: 0px;
        text-align: start;
        appearance: menulist;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        background-color: rgba(0, 0, 0, 0);
        cursor: default;
        margin: 0 10% 0 0;
        padding: 0.45rem 0.2rem 0.4rem 0.75rem;
        border-radius: .5rem;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.1);
        border-image: initial;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 6rem;
    }
    
    #content {
        display: inline-block;
    }
    
    p {
        font-family: 'charter', 'Georgia', 'Cambria', 'Times New Roman', Times, serif;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        initial-letter: 0rem;
        overflow-wrap: break-word;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: rgba(0, 0, 0, 0.85);
        letter-spacing: 0;
        line-height: 2rem;
        margin: 0 10%;
        padding-bottom: 2rem;
    }
    
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.85);
        letter-spacing: -0.1rem;
        line-height: 2.5rem;
        margin: 3rem 10%;
    }
    
    h2 {
        font-size: 1.75rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.85);
        letter-spacing: -0.05rem;
        line-height: 2rem;
        margin: 1rem 10%;
        background-color: #fff200;
        clear: both;
    }
    
    h3 {
        font-size: 1.25rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.85);
        letter-spacing: -0.05rem;
        line-height: 1.5rem;
        margin: 1rem 10%;
        background-color: #fff200;
    }
    
    h4 {
        font-size: 1rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.85);
        letter-spacing: 0;
        line-height: 1rem;
        margin: 2rem 10% 1.5rem;
        display: inline-block;
    }
    
    h5 {
        font-size: 1rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.85);
        letter-spacing: 0;
        line-height: 1rem;
        margin: 1rem 10% 3rem;
    }
    
    h6 {
        font-size: 0.85rem;
        font-weight: 500;
        color: #4d25e0;
        letter-spacing: 0;
        line-height: 1.2rem;
        margin: 2rem 10%;
        padding: 0 1.1rem;
    }
    
    .back {
        margin: 1rem 10% -2rem;
    }
    
    .tldr-label {
        font-size: 0.75rem;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.65);
        letter-spacing: 0.1rem;
        line-height: 1rem;
        margin: 2rem 10% 0;
    }
    
    .projects-label {
        font-size: 0.75rem;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.65);
        letter-spacing: 0.1rem;
        line-height: 1rem;
        margin: 2rem 10% 0;
        text-transform: uppercase;
        text-align: center;
    }
    
    ul {
        padding: 0 0 0 2rem;
        margin: 1rem 10% 2rem;
    }
    
    li {
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.85);
        letter-spacing: 0;
        line-height: 1.5rem;
        font-family: 'charter', 'Georgia', 'Cambria', 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        initial-letter: 0rem;
        overflow-wrap: break-word;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        margin: 0 10% 0 -0.5rem;
        padding-bottom: 1rem;
    }
    
    li::marker {
        color: #666;
    }
    
    li.team-member {
        font-feature-settings: "liga";
    }
    
    li.extra-project {
        font-size: 1.1rem;
    }
    
    li.skill,
    li.responsibility {
        padding-bottom: .5rem;
    }
    
    li.team-role {
        color: rgba(0, 0, 0, .65);
        list-style: none;
        margin-top: -1rem;
        font-size: .75rem;
        font-family: 'Inter', Arial, sans-serif;
    }
    
    abbr {
        text-decoration-color: #fff200;
    }
    
    a,
    a:visited {
        text-decoration: underline #fff200;
        position: relative;
        color: #6236ff;
    }
    
    a:hover {
        color: #4d25e0;
        text-decoration: underline #4d25e0;
    }
    
    #clear-header {
        margin-top: 100px;
    }
    
    .twitter-tweet-rendered {
        width: 80% !important;
        margin: 0 10% 2rem !important;
    }
    
    .tile {
        width: 50%;
        background: #fff200;
        float: left;
        margin: 1rem 0;
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    .tile2 {
        background: #eee;
    }
    
    .tile-text {
        color: rgba(0, 0, 0, 0.75);
        font-weight: 600;
        font-size: .8rem;
        letter-spacing: .2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6rem;
        text-align: center;
    }
    
    .tile-emoji {
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: .2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6rem;
        text-align: center;
    }
    
    .pic-tile {
        margin: 0;
    }
    
    .pic-clear {
        padding-top: 2rem;
    }
    
    .big-picture-inline {
        margin: 0 0 2rem;
    }
    
    .pic-inline {
        width: 80%;
        margin: 0 10%;
    }
    
    .linkout-icon {
        transform: rotate(90deg);
        /* Safari */
        -webkit-transform: rotate(90deg);
        /* Firefox */
        -moz-transform: rotate(90deg);
        /* IE */
        -ms-transform: rotate(90deg);
        /* Opera */
        -o-transform: rotate(90deg);
        display: inline-block;
    }
    
    button.big-button {
        color: #fff;
        background-color: #6236ff;
        padding: 1rem 3rem;
        margin: 1rem 10%;
        border: none;
        border-radius: .25rem;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        width: -webkit-fill-available;
        cursor: pointer;
    }
    
    button.big-button:hover {
        background-color: #4d25e0;
    }
    
    button.big-button:active {
        background-color: #3617a8;
    }
    
    .center {
        width: 100%;
        text-align: center;
        display: block;
    }
    
    .big-picture {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    hr {
        margin: 4rem 20%;
        border-width: thin;
        border-bottom: none;
    }
    
    .footer-center {
        display: block;
        text-align: center;
        margin: 3rem 0;
        font-size: .75rem;
        color: #555;
        clear: both;
    }
    
    .footer-social {
        width: 2rem;
        padding: 0 .25rem;
        margin: 2rem 0 0;
    }
    
    .footer-social {
        transition: all .2s ease-in-out;
    }
    
    .footer-social:hover {
        transform: scale(1.1);
    }
    
    a.no-style {
        text-decoration: none;
    }
    
    button.scroll-to-top {
        color: #3617a8;
        background-color: transparent;
        padding: 1rem 3rem;
        margin: 0 10% 1rem;
        font-weight: 600;
        border-radius: .25rem;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, .1);
        width: -webkit-fill-available;
        cursor: pointer;
    }
    
    .aka {
        margin-top: -2.5rem;
        padding-left: 0;
    }
    /* Toggle Component on the Logo case study */
    /* The switch - the box around the slider */
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    .switch-label {
        display: inline-block;
        position: relative;
        left: 4.5rem;
        font-size: 16px;
        font-family: 'Inter', Arial, sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-weight: 600;
        color: rgba (0 0 0 0.8);
    }
    /* Hide default HTML checkbox */
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* The slider */
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background: rgb(98, 28, 210);
        background: linear-gradient(45deg, rgba(98, 28, 210, 1) 0%, rgba(255, 0, 151, 1) 45%, rgba(255, 231, 0, 1) 100%);
        transition: .4s;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #3617a8;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
    /* make it bigger for desktop */
    
    @media screen and (min-width:768px) {
        html {
            font-size: 1rem;
        }
        header {
            height: 6rem;
            padding: 0;
        }
        select#nav-menu {
            top: 2rem;
        }
        .img-tile-mosaic {
            width: 80%;
            margin: 0 10%;
        }
        .little-tile {
            width: 25%;
        }
        h1 {
            font-size: 5rem;
            line-height: 5rem;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
        .logo-link {
            font-size: 3rem;
            color: rgba(0, 0, 0, 0.85);
            letter-spacing: -0.1rem;
            line-height: 4rem;
        }
        .big-emoji {
            font-size: 4rem;
        }
        .site-logo {
            width: 23rem;
        }
        .big-picture,
        .big-picture-inline {
            width: 80%;
            margin: 1rem 10% 3rem;
        }
        .little-picture-inline {
            width: 40%;
            margin: 0 30% 2rem;
        }
        button.scroll-to-top,
        button.big-button {
            width: 30rem;
        }
        h1,
        h2,
        h3,
        h4,
        h6,
        p,
        .tldr-label,
        ul {
            margin-left: 15%;
            margin-right: 15%;
        }
        .tile-emoji {
            font-size: 6rem;
            height: 12rem;
        }
        .tile {
            margin: 3rem 0;
        }
        .my-dumb-face {
            width: 20%;
            float: left;
            margin: 0 2rem 0 13%;
        }
        .aka {
            margin-top: -5rem;
            margin-bottom: 5rem;
        }
        .project-logo {
            display: inline-grid;
        }
    }
    
    @media screen and (min-width:1444px) {
        .portfolio {
            width: 33%;
            display: inline-grid;
        }
        .portfolio-left {
            margin-left: 15%;
            margin-right: 1%;
        }
        .portfolio-right {
            margin-left: 2%;
            margin-right: 15%;
        }
        .portfolio-center {
            margin-left: 34%;
            margin-right: 33%;
        }
        .pic-inline {
            width: 100%;
            margin: 0;
        }
        h5 {
            margin: 1rem 0 3rem;
        }
    }