html {
  font-size: 18px;
}
body {
  padding: 0;
  margin: 0;
}
header {
  display: inline-block;
  width: 100%;
  box-sizing: inherit;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 0px 1rem;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff200;
}
#logo {
  display: inline-block;
  margin-left: 10%;
}
a.logo-link {
  color: #000;
}
.logo-link {
  font-family: HelveticaNeue-Bold;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: -0.1rem;
  line-height: 2.5rem;
}
.big-emoji {
  font-size: 3rem;
}
nav {
  display: block;
  float: right;
  margin-right: 10%;
    top: 20px;
}

.nav-link {
  display: inline-block;
  padding: 0;
  margin: 0 30px 0 0;
  vertical-align: -webkit-baseline-middle;
  font-family: HelveticaNeue-Bold;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0rem;
  line-height: 4rem;
}

.nav-links {
  margin:0;
}

#content {display: inline-block; margin:0 10%;}

p {
  font-family: HelveticaNeue;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0;
  line-height: 1.5rem;
}
h1 {
  font-family: HelveticaNeue-Bold;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: -0.1rem;
  line-height: 3rem;
}
h2 {
  font-family: HelveticaNeue-Bold;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: -0.1rem;
  line-height: 2rem;
}
h3 {
  font-family: HelveticaNeue-Bold;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: -0.2rem;
  line-height: 1.5rem;
}
h4 {
  font-family: HelveticaNeue-Bold;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0;
  line-height: 1rem;
}
li {
  font-family: HelveticaNeue;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0;
  line-height: 1.5rem;
}
abbr {
  text-decoration-color: #fff200;
}

a,
a:visited {
  text-decoration: none;
  position: relative;
  color: #6236ff;
}
a:hover {
  color: #4d25e0;
}
a:after,
a:visited:after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #6236ff;
  transition: 0.4s;
}
a:hover:after,
a:visited:hover:after {
  width: 100%;
}

a.ani-link,
a.ani-link:visited {
  text-decoration: none;
  position: relative;
  color: #000;
}
a.ani-link:after,
a.ani-link:visited:after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #000;
  transition: 0.4s;
}
a.ani-link:hover:after,
a.ani-link:visited:hover:after {
  width: 100%;
}

#clear-header {
  margin-top: 100px;
}
.tile {
  width:50%;
  float: left;
  background: #fff200;
  text-align: center;
}
.tile2 {
  background: #eee;
  width:50%;
  float: left;
  text-align: center;
}
.tile-text {
  line-height: 3rem;
}